.success, .negative, .round, .round-top, .round-bottom {
    padding: 5px 15px;
    cursor: pointer;
    border: none;
}

.success {
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: pink;
}

.negative {
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: lightgray;
}

.disabled {
    color: darkgray;
    cursor: inherit;
}

.blue {
    background-color: lightblue;
}

.gray {
    background-color: lightgray;
}

.pink {
    background-color: pink;
}

.orange {
    background-color: orange;
}

.round {
    border-radius: 12px;
}

.round-top {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.round-bottom {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}