.comment {
    border: 1px solid gray;
    border-radius: 8px;
    margin: 20px;
    background-color: beige;
}

.comment:hover .comment-icon {
    display: block;

}

.comment-header {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    position: relative;
}

.comment-header-username {
    margin: 0;
}

.comment-header-date {
    margin: 0;
    font-size: 12px;
    font-style: italic;
}

.comment-content-image-wrapper img {
    max-height: 50px;
    border-radius: 5px;
    margin: 0 10px 10px 10px;
    float: left;
}

.comment-content {
    min-height: 45px;
    font-size: 14px;
    padding: 0 10px;
}

.comment-icon {
    position: absolute;
    cursor: pointer;
    color: gray;
    display: none;
    bottom: -12px;
    font-size: 14px;
}

.comment-icon:hover {
    color: black;
}

.fa-pencil-alt {
    right: 50px;
}

.fa-trash-alt {
    right: 20px;
}