.post-wraper {
    margin: 50px auto;
    width: 50%;
    border: none;
    border-radius: 12px;
    position: relative;
}

.add-post-header {
    padding: 10px;
    display: flex;
}

.post-header-image {
    height: 150px;
    margin-right: 15px;
}

.post-header-image img {
    height: 100%;
    border-radius: 12px;
}

.add-post-btn, .cancel-btn {
    position: absolute;
    bottom: 0;
}

.add-post-btn {
    left: 0;
}

.cancel-btn {
    right: 0;
}