.post-wraper {
    margin: 50px auto;
    width: 50%;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    position: relative;
}

.post-header {
    padding: 10px;
}

.post-header-image {
    float: left;
    height: 150px;
    margin-right: 15px;
}

.post-header-image img {
    height: 100%;
    border-radius: 12px;
}

.post-header-username {
    margin-top: 0;
}

.post-footer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.post-footer-like,
.post-footer-dislike,
.post-footer-see-comments {
    position: absolute;
    bottom: 0;
}

.post-footer-like {
    left: 0;
}

.post-footer-dislike {
    right: 0;
}
