.add-comment-wrapper {
    border: 1px solid #f5f5dc80;
    border-radius: 12px;
    margin: 20px;
    background-color: #f5f5dc80;
    position: relative;
    box-shadow: 0 0 3px 0;
}

.add-comment-header {
    display: flex;
    margin-bottom: 10px;
}

.add-comment-image-wrapper {
    width: 50px;
    margin: 5px;
}

.add-comment-image-wrapper img {
    width: 100%;
    border-radius: 5px;
}

.add-comment-footer {
    display: flex;
    justify-content: space-between;
}