.header, .header-user, .header-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    border-bottom: 1px solid gray;
}

.header-user-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.header-user-image img {
    height: 100%;
    border-radius: 5px;
}

.header-ul li {
    list-style: none;
    margin-right: 20px;
}

.header-ul-add-post {
    font-size: 30px;
}