.header, .header-user, .header-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    border-bottom: 1px solid gray;
    position: relative;
}

.header-user-wrapper {
    display: flex;
    align-items: center;
}

.logout-btn {
    margin-left: 20px;
}

.header-user-image {
    height: 50px;
}

.header-user-image img {
    height: 100%;
    border-radius: 5px;
}

.header-user-username {
    margin-left: 8px;
}

.header-logo {
    font-family: 'Coiny', cursive;
    margin: 0;
    font-size: 34px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: -webkit-linear-gradient(#ffcd71, #ff581a);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-menu {
    position: relative;
}

.header-menu i{
    font-size: 20px;
    padding: 3px;
    border-radius: 5px;
}

.header-menu i:hover {
    background-color: lightgray;
    cursor: pointer;
}

.auth-menu {
    display: flex;
    align-items: center;
    padding: 0;
}

.auth-menu-add-post {
    margin-right: 20px;
}

.no-auth-menu {
    position: absolute;
    right: 0;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 3px 0px;
    background-color: beige;
}

.no-auth-menu li {
    margin-bottom: 8px;
    border-radius: 3px;
    padding: 5px;
}

.no-auth-menu li:hover {
    background-color: lightgrey;
}

.fas:hover {
    cursor: pointer;

}

.fa-plus, .fa-sign-out-alt {
    display: none;
    border-radius: 50%;
    padding: 10px;
}

.fa-plus {
    position: absolute;
    left: 50%;
    bottom: -44px;
    transform: translate(-50%, 0);
}


@media all and (max-width: 900px) {
    .header {
        margin-bottom: 25px;
    }

    .fa-plus, .fa-sign-out-alt {
        display: block;
    }

    .add-post-btn-big, .logout-btn {
        display: none;
    }

    .header-user-image {
        height: 30px;
    }

    .header-user-username {
        font-size: 10px;
    }
   
}