.profile-wrapper {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.profile-user,
.profile-my-posts,
.profile-latest-activity {
    width: 30%;
    height: 520px;
    overflow: auto;
}

.profile-user {
    margin: auto;
}


.profile-form-wrapper {
    width: 80%;
    margin: 0 auto;
    border: 1px solid orange;
    border-radius: 12px;
    padding: 15px;
}

.profile-form-heading {
    margin: 0 0 10px 0;
}

.profile-change-info-wrapper {
    text-align: center;
}

.profile-form-btn-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.profile-image-wrapper {
    margin: 0 80px;
}

.profile-image-wrapper img,
.profile-username {
    width: 100%;
}

.profile-image-wrapper img {
    border-radius: 12px;
}

.my-posts-heading,
.latest-heading,
.profile-email,
.profile-username,
.my-activity-heading {
    text-align: center;
}