.my-post {
    border: 1px solid gray;
    border-radius: 8px;
    margin: 15px;
    display: flex;
}

.my-post img {
    border-radius: 8px;
    max-height: 50px;
    margin: 5px;
}

.my-post-content {
    font-size: 12px;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}