@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');

html {
    margin: auto;
    max-width: 1400px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    position: relative;
    margin: 0 8px;
}

a {
    text-decoration: none;
    color: black;
}
